<%= turbo_frame_tag dom_id(@task) do %>
  <%= form_with model: @task, local: false do |f| %>
    <tr id="<%= dom_id(@task) %>">
      <td><%= f.text_field :title, class: "border p-2 w-full" %></td>
      <td>
        <%= f.submit "Save", class: "bg-green-500 text-white px-4 py-2 rounded" %>
        <%= link_to "Cancel", task_path(@task), data: { turbo_frame: dom_id(@task) }, class: "text-red-500 px-4 py-2" %>
      </td>
    </tr>
  <% end %>
<% end %>
