<%= turbo_frame_tag dom_id(@article) do %>
  <%= form_with model: @article, local: false do |f| %>
    <tr id="<%= dom_id(@article) %>">
      <td><%= f.text_field :title, class: "border p-2 w-full" %></td>
      <td>
        <%= f.submit "Save", class: "bg-green-500 text-white px-4 py-2 rounded" %>
      </td>
    </tr>
  <% end %>
<% end %>
