<%= turbo_frame_tag :article_details do %>
  <div class="flex"><span class="font-bold">Title: </span><span> <%= @article.title %></span></div>
  <div class="flex"><span class="font-bold">Comment: </span><span> <%= @article.content %></span></div>

  <!-- This Turbo Stream will update the status in the index page -->
    <%= turbo_stream.replace "article_#{@article.id}" do %>
      <%= render "articles/status", article: @article %>
    <% end %>

<% end %>
