<%= turbo_frame_tag dom_id(patient) do %>
  <% appointments = Appointment.where(patient_id: patient.id) %>
  <div class="border p-4 rounded-md shadow-md mb-2">
    <%= link_to patient, "data-turbo-prefetch": false, "data-turbo-frame": :patient_details, class: "" do %>
      <p>
        <strong>Name:</strong> <%= patient.fullname %><br>
        <strong>Age:</strong> <%= patient.age %><br>
        <strong>Phone:</strong> <%= patient.phone_number %><br>
        <% if appointments.present? %>
          <strong>Existing Appointments for this patient</strong><br>
          <% appointments.each do |appointment| %>
            <strong>Created At:</strong> <%= appointment.try(:created_at).try(:strftime, '%I:%M %p') %> <%= appointment.try(:created_at).try(:strftime, '%a, %d %b %Y') %><br>
            <strong>Status:</strong> <%= appointment.status %><br>
            <strong>Department:</strong><%= appointment.department_name %>
          <% end %>
        <% else %>
          <strong>No Existing Appointments for this patient</strong><br>
          <span>Create New Appointments for this patient</span><br>
          <%= link_to "New Appointment", new_appointment_path(patient_id: patient.id), data: { turbo_frame: "patient_details" } %>
        <% end %>
      </p>
    <% end %>
  </div>
<% end %>